body {
    background-color: black;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    margin: auto;
}

h2{
    text-align: center;
    color:antiquewhite;
    margin:2%;
}

#imagemtopo {
    height: 460px;
    display: flex;
    
}

#logo {
    padding: px;
    width: 45%;
    position: relative;
    left: 13px;

    height:460px;
    
    
}

#loja {
    
    width: 55%;
    
    margin-right: 5px;
    margin: 0 auto;
    position: relative;
    left: 8px;
    
}

ol {
    background-color: darkgray;
    padding: 40px;
    margin: 0 auto;
    width: 100%;
    
    

}

.link {
    color: black;
    text-align: center;
    font-size: 25px;
    background-color:darkgray;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 55px;
     
}

.roupa {
    padding-bottom: 50px;
}

.imagem {
    
    margin-top: 20px;
    width: 30%;
    border: 100px;
    margin-left: 440px;
    border-color:khaki;
    border-width:8px ;
    border-style: solid;
    
    
}

#preco {
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-top: 2px;
    padding: 20px;
    
}

footer {
    background-color: white;
}

.rodape {
    margin-left: 40%;
    
}